presentations/2025_05_23_team_building_trail/equations.lyx
.DS_Store
~$*.docx
~$*.pptx
code/library-src/bib/all_references.aux
code/library-src/bib/all_references.bbl
code/library-src/bib/all_references.blg
code/library-src/bib/all_references.dvi
code/library-src/bib/all_references.log
.vscode
.ruff_cache
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.env
.env/
.venv/
venv/
*.sqlite3
*.db
*.log
*.pot
*.mo
*.coverage
htmlcov/
*.manifest
*.spec
*.tox/
.cache/
.mypy_cache/
.pytest_cache/
.coverage
nosetests.xml
coverage.xml
*.rst~
*.swp
*.swo
.idea/
*.ipynb_checkpoints